<p id="notice"><%= notice %></p>

<section class="wrapper">
  <div>
    <p>
      <strong>Name:</strong>
      <%= @club.name %>
    </p>

    <%# TODO: チームロゴを挿入する %>
  </div>

  <div>
    <%# TODO: 街, 国 の順で表示するヘルパーを使う %>
    <p>
      <strong>Hometown:</strong>
      <%= @club.hometown %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @club.country %>
    </p>

    <p>
      <strong>Established on:</strong>
      <%= @club.established_on %>
    </p>

    <p>
      <strong>Manager:</strong>
      <%= @club.manager %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @club.color %>
    </p>

    <%# TODO: 実際の戦績から算出する %>
    <p>
      <strong>This year's Result:</strong>
      253戦150勝30敗73分
    </p>

    <p>
      <strong>Players Avarage age</strong>
      25.5
    </p>

  </div>
</section>

<section>
  <p>
    <strong>Players:</strong>
    <table>
      <thead>
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>position</th>
          <th>country</th>
          <th>birthday</th>
        </tr>
      </thead>
      <tbody>
        <% @club.players.each do |player| %>
          <tr>
            <td><%= player.firstname %></td>
            <td><%= player.lastname %></td>
            <td><%= player.position %></td>
            <td><%= player.country %></td>
            <td><%= player.birthday %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</section>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
